body {
    background-color: #f4f6f9;
}

.main-card {
    max-width: 750px;
    margin: 40px auto;
    background-color: #ada8ff;
}

#productList li {
    margin-bottom: 10px;
}

.btn-delete {
    margin-left: 10px;
}